.react-codemirror2 {
  height: 100%;
}

.CodeMirror {
  width: 100%;
  height: 100%;
  font-family: Menlo, monospace;
  font-size: 14px;
}

.CodeMirror-gutters {
  border-right: 0;
  background-color: transparent;
}

.CodeMirror .selected-element {
  background: rgba(255, 229, 100, 0.3);
}
